# 실무예제 5-1
## 다음은 2016년 항만별 선박입출황 현황의 일부이다. 입항선박수, 입항선박톤수, 출항선박수, 출항선박톤수를 최소-최대 정규화, z-점수 정규화, 소수 척도화 방식으로 각각 정규화하시오.
### 데이터 파일 : ch2-2(선박입출항).csv
### 원본 투플수 : 30개

In [1]:
# ch5-1.py
import pandas as pd
import numpy as np

# 데이터로드 (ch5-1(선박입출항).csv : 데이터 원본 파일)
# encoding : 윈도우즈 환경에서의 한글 처리
# engine : python 3.6에서 한글이 포함된 파일이름 사용
rawData = pd.read_csv('.jupyter/ch5-1(선박입출항).csv', encoding='CP949', engine='python')

In [3]:
rawData

       항만  입항선박수     입항선박톤수  출항선박수     출항선박톤수
0      부산   7301  105138280   7409  103857903
1      인천   2715   30716710   2716   30779186
2   평택.당진   1558   23153226   1536   22778109
3     경인항     28     126236     27     128344
4   동해.묵호    552    4202603    546    4039929
5      삼척    186     589721    189     599042
6      속초     15       6631     17       7887
7      옥계    164     572269    167     584674
8      호산     14     976358     13     890153
9      대산   1333   10800292   1324   10944114
10     보령     65    1324916     62    1286459
11     태안     52    1178735     55    1254622
12     군산    528    6688062    525    7176882
13     장항     81      73959     81      74734
14     목포   1040    5028247   1074    6095534
15     완도    304     161468    305     161830
16     여수   1198   14020047   1192   13675603
17     광양   4050   58637066   4078   59036910
18     포항    967    8539680    947    8384609
19     마산   1313    7303157   1314    7256552
20    삼천포    222    1692380    221    1686756
21     옥포    422     948019    426    1973951
22    장승포      3        804      3        804
23     진해    717    1354918    732    1363052
24     통영    178      57992    180      57730
25     고현    587    1375796    583    1568294
26     하동     58    1466025     57    1450058
27     울산   4145   35473276   4164   36972802
28     제주    885    6989606    881    6983864
29    서귀포    140     196567    141     196683

## 1) 최소-최대 정규화

In [4]:
# 1) 최소-최대 정규화
# 최소값 : 0, 최대값 : 1로 가정
from sklearn.preprocessing import MinMaxScaler  # sklearn.preprocessing의 MinMaxScaler 모듈 임포트

# MinMaxScaler() : 최대-최소 정규화 함수 (기본최소값 : 0, 기본최대값 : 1)
mmscaler = MinMaxScaler()

# 최소-최대 정규화 수행 및 데이터프레임 생성
df1 = pd.DataFrame(rawData.loc[:,'항만'], columns = ['항만'])
df2 = pd.DataFrame(mmscaler.fit_transform(rawData.loc[:, '입항선박수' : '출항선박톤수']), columns=['입항선박수', '입항선박톤수', '출항선박수', '출항선박톤수'])
rawData_scaling = pd.concat([df1, df2], axis=1)  # 두 개의 데이터프레임(df1, df2) 결합

rawData_scaling

       항만     입항선박수    입항선박톤수     출항선박수    출항선박톤수
0      부산  1.000000  1.000000  1.000000  1.000000
1      인천  0.371609  0.292150  0.366325  0.296353
2   평택.당진  0.213072  0.220211  0.206994  0.219314
3     경인항  0.003426  0.001193  0.003241  0.001228
4   동해.묵호  0.075226  0.039965  0.073319  0.038891
5      삼척  0.025075  0.005601  0.025115  0.005760
6      속초  0.001644  0.000055  0.001890  0.000068
7      옥계  0.022061  0.005435  0.022144  0.005622
8      호산  0.001507  0.009279  0.001350  0.008563
9      대산  0.182242  0.102718  0.178369  0.105369
10     보령  0.008495  0.012594  0.007967  0.012379
11     태안  0.006714  0.011204  0.007021  0.012073
12     군산  0.071938  0.063605  0.070483  0.069096
13     장항  0.010688  0.000696  0.010532  0.000712
14     목포  0.142094  0.047818  0.144612  0.058684
15     완도  0.041244  0.001528  0.040778  0.001550
16     여수  0.163743  0.133342  0.160546  0.131669
17     광양  0.554535  0.557710  0.550230  0.568436
18     포항  0.132091  0.081216  0.127464  0.080724
19     마산  0.179501  0.069455  0.177019  0.069863
20    삼천포  0.030008  0.016089  0.029436  0.016233
21     옥포  0.057413  0.009009  0.057116  0.018999
22    장승포  0.000000  0.000000  0.000000  0.000000
23     진해  0.097835  0.012879  0.098434  0.013117
24     통영  0.023979  0.000544  0.023900  0.000548
25     고현  0.080022  0.013078  0.078315  0.015093
26     하동  0.007536  0.013936  0.007291  0.013954
27     울산  0.567553  0.337391  0.561842  0.355989
28     제주  0.120855  0.066473  0.118553  0.067237
29    서귀포  0.018772  0.001862  0.018634  0.001886

### 입항선박수, 입항선박톤수, 출항선박수, 출항선박톤수 등 4개의 속성 각각에 대하여 [min‘A, max’A] = [0, 1.0]으로 가정하고 (식 5-1)을 적용하여 정규화
### MinMaxScaler() : 최소-최대 정규화를 위한 데이터전처리 함수로서 기본(default)값은 최소값 0, 최대값 1로 설정됨
### 최소-최대 정규화 결과값은 모두 0(최소값)과 1(최대값) 사이에 존재함
#### 부산항의 경우는 4가지 속성 모두 최대값을 가지고 있기 때문에 최대값이 1로 변환됨

## 2) Z-score 정규화

In [5]:
# 2) Z-score 정규화
from sklearn.preprocessing import StandardScaler  # sklearn.preprocessing의 StandardScaler 모듈 임포트

# StandardScaler() : Z-score 정규화 함수
stdscaler = StandardScaler()

# Z-score 정규화 수행 및 데이터프레임 생성
df1 = pd.DataFrame(rawData.loc[:,'항만'], columns = ['항만'])
df2 = pd.DataFrame(stdscaler.fit_transform(rawData.loc[:, '입항선박수' : '출항선박톤수']), columns=['입항선박수', '입항선박톤수', '출항선박수', '출항선박톤수'])
rawData_std = pd.concat([df1, df2], axis=1)  # 두 개의 데이터프레임(df1, df2) 결합

rawData_std

       항만     입항선박수    입항선박톤수     출항선박수    출항선박톤수
0      부산  3.977058  4.326171  3.999328  4.289097
1      인천  1.069845  0.907552  1.056042  0.912063
2   평택.당진  0.336386  0.560117  0.315987  0.542325
3     경인항 -0.633531 -0.497648 -0.630406 -0.504341
4   동해.묵호 -0.301350 -0.310396 -0.304907 -0.323583
5      삼척 -0.533369 -0.476357 -0.528805 -0.482590
6      속초 -0.641772 -0.503142 -0.636677 -0.509907
7      옥계 -0.547316 -0.477159 -0.542602 -0.483254
8      호산 -0.642406 -0.458597 -0.639186 -0.469137
9      대산  0.193751 -0.007326  0.183028 -0.004534
10     보령 -0.610075 -0.442585 -0.608455 -0.450823
11     태안 -0.618316 -0.449300 -0.612845 -0.452295
12     군산 -0.316565 -0.196225 -0.318077 -0.178622
13     장항 -0.599932 -0.500049 -0.596539 -0.506818
14     목포  0.008009 -0.272470  0.026236 -0.228592
15     완도 -0.458565 -0.496029 -0.456054 -0.502794
16     여수  0.108170  0.140577  0.100242  0.121690
17     광양  1.916145  2.190098  1.910241  2.217878
18     포항 -0.038268 -0.111169 -0.053414 -0.122811
19     마산  0.181072 -0.167970  0.176756 -0.174940
20    삼천포 -0.510548 -0.425705 -0.508736 -0.432325
21     옥포 -0.383761 -0.459898 -0.380167 -0.419054
22    장승포 -0.649379 -0.503409 -0.645458 -0.510235
23     진해 -0.196751 -0.441207 -0.188254 -0.447284
24     통영 -0.538441 -0.500782 -0.534449 -0.507604
25     고현 -0.279163 -0.440248 -0.281702 -0.437800
26     하동 -0.614513 -0.436103 -0.611591 -0.443263
27     울산  1.976368  1.126049  1.964177  1.198275
28     제주 -0.090251 -0.182373 -0.094806 -0.187541
29    서귀포 -0.562530 -0.494417 -0.558909 -0.501183

### 입항선박수, 입항선박톤수, 출항선박수, 출항선박톤수 등 4개의 속성 각각에 대하여 (식 5-2)를 적용하여 정규화
### StandardScaler() : Z-score 정규화를 위한 데이터전처리 함수
### Z-score 결과값
#### 평균값 : 0으로 변환
#### 표준편차 이내의 값 :  –1과 1 사이로 변환
#### 표준편차 밖의 값 : -1 미만 또는 1 초과값으로 변환

## 3) 소수 척도화

In [8]:
# 3) 소수 척도화
# 각 항목에서 최대값 구하기
max_입항선박수 = max(rawData.loc[:,'입항선박수'])
max_입항선박톤수 = max(rawData.loc[:,'입항선박톤수'])
max_출항선박수 = max(rawData.loc[:,'입항선박수'])
max_출항선박톤수 = max(rawData.loc[:,'출항선박톤수'])

# 소수 척도화 수행
list_of_decs = []  # 소수 척도화 결과값을 저장할 리스트 변수 초기화

# 리스트 변수에 소수 척도화 결과값을 행 단위로 저장
for i in range(0, len(rawData)) :
    list_of_decs.append([rawData.loc[i,'항만'],
                        rawData.loc[i, '입항선박수'] / pow(10, len(str(max_입항선박수))),
                        rawData.loc[i, '입항선박톤수'] / pow(10, len(str(max_입항선박톤수))),
                        rawData.loc[i, '출항선박수'] / pow(10, len(str(max_출항선박톤수))),
                        rawData.loc[i, '출항선박톤수'] / pow(10, len(str(max_출항선박톤수)))])

# 데이터프레임 생성
rawData_dec = pd.DataFrame(list_of_decs, columns=['항만', '입항선박수', '입항선박톤수', '출항선박수', '출항선박톤수'])

rawData_dec

       항만   입항선박수        입항선박톤수         출항선박수        출항선박톤수
0      부산  0.7301  1.051383e-01  7.409000e-06  1.038579e-01
1      인천  0.2715  3.071671e-02  2.716000e-06  3.077919e-02
2   평택.당진  0.1558  2.315323e-02  1.536000e-06  2.277811e-02
3     경인항  0.0028  1.262360e-04  2.700000e-08  1.283440e-04
4   동해.묵호  0.0552  4.202603e-03  5.460000e-07  4.039929e-03
5      삼척  0.0186  5.897210e-04  1.890000e-07  5.990420e-04
6      속초  0.0015  6.631000e-06  1.700000e-08  7.887000e-06
7      옥계  0.0164  5.722690e-04  1.670000e-07  5.846740e-04
8      호산  0.0014  9.763580e-04  1.300000e-08  8.901530e-04
9      대산  0.1333  1.080029e-02  1.324000e-06  1.094411e-02
10     보령  0.0065  1.324916e-03  6.200000e-08  1.286459e-03
11     태안  0.0052  1.178735e-03  5.500000e-08  1.254622e-03
12     군산  0.0528  6.688062e-03  5.250000e-07  7.176882e-03
13     장항  0.0081  7.395900e-05  8.100000e-08  7.473400e-05
14     목포  0.1040  5.028247e-03  1.074000e-06  6.095534e-03
15     완도  0.0304  1.614680e-04  3.050000e-07  1.618300e-04
16     여수  0.1198  1.402005e-02  1.192000e-06  1.367560e-02
17     광양  0.4050  5.863707e-02  4.078000e-06  5.903691e-02
18     포항  0.0967  8.539680e-03  9.470000e-07  8.384609e-03
19     마산  0.1313  7.303157e-03  1.314000e-06  7.256552e-03
20    삼천포  0.0222  1.692380e-03  2.210000e-07  1.686756e-03
21     옥포  0.0422  9.480190e-04  4.260000e-07  1.973951e-03
22    장승포  0.0003  8.040000e-07  3.000000e-09  8.040000e-07
23     진해  0.0717  1.354918e-03  7.320000e-07  1.363052e-03
24     통영  0.0178  5.799200e-05  1.800000e-07  5.773000e-05
25     고현  0.0587  1.375796e-03  5.830000e-07  1.568294e-03
26     하동  0.0058  1.466025e-03  5.700000e-08  1.450058e-03
27     울산  0.4145  3.547328e-02  4.164000e-06  3.697280e-02
28     제주  0.0885  6.989606e-03  8.810000e-07  6.983864e-03
29    서귀포  0.0140  1.965670e-04  1.410000e-07  1.966830e-04

### 입항선박수, 입항선박톤수, 출항선박수, 출항선박톤수 등 4개의 속성 각각에 대하여 (식 5-3)를 적용하여 정규화
#### 소수 척도화 결과를 리스트 변수에 행단위로 저장한 다음, 데이터프레임을 씌우는 방식으로 정규화
### pow(x, y) : $x^y$ 값을 구하는 함수 
### 소수 척도화 결과값은 모두 1보다 작고 최대값은 소수 첫 번째 자리에 0이 아닌 정수가 나오는 결과값으로 변환됨